body, html {
  height: 100%;
  margin: 0px;

}

main{
  margin: 50px;
}

#header{
	display: flex;
  justify-content: center;
  background: lightgray;
  border: 1px solid gray;
  height: 200px;
}

#two-column{
  display: flex;
  justify-content: center;
 }

div .container-left{
  height: 800px;
  width: 1100px;
  margin: 20px 20px 20px 0;
  background: lightgray;
  border: 1px solid gray;
 }

div .container-right{
  height: 800px;
  width: 700px;
  margin: 20px 0px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}

/*for three-column*/

#three-column{
  display: flex;
  justify-content: center;
 }

div .nav{
  height: 800px;
  width: 350px;
  margin: 20px 20px 20px 0;
  background: lightgray;
  border: 1px solid gray;
 }

div .main{
  height: 800px;
  width: 1100px;
  margin: 20px 20px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}

div .aside{
  height: 800px;
  width: 350px;
  margin: 20px 0px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}

/*for marketing-section*/

#marketing-section {
display: flex;
justify-content: center;
}

div .section-left{
  height: 500px;
  width: 900px;
  margin: 20px 20px 0px 0;
  background: lightgray;
  border: 1px solid gray;
}

div .section-right{
  height: 500px;
  width: 900px;
  margin: 20px 0px 0px 0;
  background: lightgray;
  border: 1px solid gray;
}

#thumbmnails{
  display: flex;
  justify-content: center;
}

div .thumbmnail-one{
  height: 350px;
  width: 595px;
  margin: 20px 20px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}

div .thumbmnail-two{
  height: 350px;
  width: 595px;
  margin: 20px 20px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}

div .thumbmnail-three{
  height: 350px;
  width: 595px;
  margin: 20px 0px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}



.footer{
  background: lightgray;
  border: 1px solid gray;
  height: 200px;
}


