body, html {
  height: 100%;
  margin: 0px;
}

main{
  margin: 50px;
}

#header{
  display: flex;
  justify-content: flex-start;
  background: lightgray;
  border: 1px solid gray;
  height: 200px;
}

#three-column{
  display: flex;
  justify-content: flex-start;
 }

div .nav{
  height: 800px;
  width: 350px;
  margin: 20px 20px 20px 0;
  background: lightgray;
  border: 1px solid gray;
 }

div .main{
  height: 800px;
  width: 1100px;
  margin: 20px 20px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}

div .aside{
  height: 800px;
  width: 350px;
  margin: 20px 0px 20px 0;
  background: lightgray;
  border: 1px solid gray;
}

.footer{
  background: lightgray;
  border: 1px solid gray;
  height: 200px;
}


#three-column .container {
  height: 200px;
}